{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if file_list %}
<div style="margin:00px 0px 00px 30px;font-size: 15px; font-family: 'Gothic';">
    <form method="POST" action="{% url 'sorap:filedelete' %}" enctype="multipart/form-data">
        {% csrf_token %}
{% for items in file_list %}
    <input type="checkbox" id="selected" name="selected" value="{{items.file_name}}">{{items.file_name}}<br>
{% endfor %}
    <input type="submit" class="btn btn-primary col" value="삭제">
    </form>
</div>
{% else %}
<div style=" padding:0px 0px 0px 4px ; margin:50px 0px 20px 0px; font-size: 18px; font-family: 'Nanum Gothic';">
<p><strong>파일이 없습니다.</strong></p>
</div>
{% endif %}
{% endblock%}